body {
  background: lightcyan;
}

#btn {
  width: 200px;
  height: 200px;
  background: red;
  border-radius: 50%;
  margin: 30px auto;
  text-align: center;
  line-height: 200px;
  color: white;
  font-weight: bold;
  font-size: 50px;
  cursor: pointer;
}

#btn:hover{
  opacity: 0.7;
}